::selection {
	background-color: #b30000;
}
::-moz-selection {
	background-color: #b30000;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #cfcfcf;
	background-color: #161616;
	margin:0px;
	height: 100%;
	position: relative;
}
.light-mode {
	color: #161616;
	background-color: #cfcfcf;
}
#wrapper {
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	padding-bottom: 100px;
	margin: auto;
}
#header {
	background-image: url(../img/header.jpg);
	background-position: center;
	height: 100px;
}
#menu {
	height: 35px;
	text-align: center;
	width: 100%;
}
#menu a, #footer a{
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;

}
#menu ul {
	margin: 0;
	padding: 0;
	background-color: #333333;
	list-style-type: none;
	overflow: hidden;
}

#menu li {
	float: left;
}

#menu li a {
	display : block;
	text-align : center;
	padding:  16px;
}
#menu ul li a:hover {
	background-color: rgb(219, 46, 46);
}
#contenido {
	padding: 20px;
}
#footer {
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: 0;
	color:#FFFFFF;
	text-align:center;
	background-color: #333333;
}
h1 {
	color: rgb(219, 46, 46);
	font-size: 18px;
	border-bottom: 2px solid rgb(252, 174, 58);
	padding-bottom: 10px;
}
form {
	margin-left: 10%;
}

.car-img {
	width: 170px;
	height: 170px;
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
	cursor: pointer;
	display: flex;
}
.car-img img {
	max-height: 100%;
	max-width: 100%;
}
.car-img p {
	margin: auto;
}

.car-img:hover {
	border-color: #ff0000;
}
.car-img a {
	text-decoration: none;
	color: #FFFFFF;
}
.car-table {
	margin: 10px;
	margin-left: 35px;
}
.car-table tr {
	outline: thin solid;
	outline-color: #333333;
	outline-width: 1px;
}
.car-table th {
	color: rgb(219, 46, 46);
}
.car-table th, td {
	padding: 15px 25px;
}
.hover-car-table {
	cursor: pointer;
}
.hover-car-table:hover {
	outline-color: rgb(219, 46, 46);
}
.def-button {
	background-color: #333333;
	text-decoration : none;
	padding: 15px 25px;
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;
	color: #FFFFFF;
}

.def-button:hover{
	background-color: #ff0000;
}
.list-cars {
	margin-right: 5%;
}
.default-button {
	text-decoration: none;
	cursor: pointer;
	background-color: #333333;
	border: none;
	color:#FFFFFF;
	text-align: center;
	display: inline-block;
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;
	padding: 10px 25px;
	margin: 2px 4px;
}
.default-button:hover {
	background-color: rgb(219, 46, 46);
}
.conf-button {
	text-decoration: none;
	cursor: pointer;
	background-color:#0ca3e9;
	border: none;
	color:rgb(255, 255, 255);
	text-align: center;
	display: inline-block;
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;
	padding: 10px 25px;
	margin: 2px 4px;
}
.active {
	background: #ff0000;
}
.error {
	text-align: center;
}

#slide-lang {
	display: none;
	float: right;
}

#slide-lang button {
	display: block;
}
.lang-btn {
	text-decoration: none;
	border: none;
	cursor: pointer;
	background-color: #333333;
	font-family: 'Gothic A1', sans-serif;
	text-align: center;
	color:#FFFFFF;
	width: 100px;
	padding: 2px;
}
.lang-btn:hover{
	background-color: #5c5c5c;
}
.fixed-menu {
	position: fixed;
	top: 0;

}
.content-mar {
	margin-top: 35px;
}
.dayMode {
	background-color: #cfcfcf;
}
#carModal {
	background-color: #161616;
	color: #cfcfcf;
}
#DataTables_Table_0_previous {
	text-decoration: none;
	cursor: pointer;
	background-color: #333333;
	border: none;
	color:#FFFFFF;
	text-align: center;
	display: inline-block;
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;
	padding: 10px 25px;
	margin: 2px 4px;
}
#DataTables_Table_0_previous:hover {
	background-color: rgb(219, 46, 46);
}
#DataTables_Table_0_next {
	text-decoration: none;
	cursor: pointer;
	background-color: #333333;
	border: none;
	color:#FFFFFF;
	text-align: center;
	display: inline-block;
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;
	padding: 10px 25px;
	margin: 2px 4px;
}
#DataTables_Table_0_next:hover {
	background-color: rgb(219, 46, 46);
}
.paginate_button  {
	text-decoration: none;
	cursor: pointer;
	background-color: #333333;
	border: none;
	color:#FFFFFF;
	text-align: center;
	display: inline-block;
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;
	padding: 10px 15px;
	margin: 2px 4px;
}
.bx-wrapper {
	margin-bottom: 60px;
	padding: 0;
	*zoom: 1;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
  }
  .bx-wrapper img {
	max-width: 100%;
	display: block;
  }
  .bxslider {
	margin: 0;
	padding: 0;
  }
  ul.bxslider {
	list-style: none;
  }
  
  /** THEME
  ===================================*/
  .bx-wrapper {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: 5px solid #fff;
	background: #fff;
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
	bottom: -30px;
	width: 100%;
  }
  /* LOADER */
  .bx-wrapper .bx-loading {
	min-height: 50px;
	background: url('images/bx_loader.gif') center center no-repeat #ffffff;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2000;
  }
  /* PAGER */
  .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active,
  .bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #000;
  }
  .bx-wrapper .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	vertical-align: bottom;
	*zoom: 1;
	*display: inline;
  }
  .bx-wrapper .bx-pager-item {
	font-size: 0;
	line-height: 0;
  }
  /* DIRECTION CONTROLS (NEXT / PREV) */
  .bx-wrapper .bx-prev {
	left: 10px;
	background: url('images/controls.png') no-repeat 0 -32px;
  }
  .bx-wrapper .bx-prev:hover,
  .bx-wrapper .bx-prev:focus {
	background-position: 0 0;
  }
  .bx-wrapper .bx-next {
	right: 10px;
	background: url('images/controls.png') no-repeat -43px -32px;
  }
  .bx-wrapper .bx-next:hover,
  .bx-wrapper .bx-next:focus {
	background-position: -43px 0;
  }
  .bx-wrapper .bx-controls-direction a {
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
  }
  .bx-wrapper .bx-controls-direction a.disabled {
	display: none;
  }
  /* AUTO CONTROLS (START / STOP) */
  .bx-wrapper .bx-controls-auto {
	text-align: center;
  }
  .bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url('images/controls.png') -86px -11px no-repeat;
	margin: 0 3px;
  }
  .bx-wrapper .bx-controls-auto .bx-start:hover,
  .bx-wrapper .bx-controls-auto .bx-start.active,
  .bx-wrapper .bx-controls-auto .bx-start:focus {
	background-position: -86px 0;
  }
  .bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url('images/controls.png') -86px -44px no-repeat;
	margin: 0 3px;
  }
  .bx-wrapper .bx-controls-auto .bx-stop:hover,
  .bx-wrapper .bx-controls-auto .bx-stop.active,
  .bx-wrapper .bx-controls-auto .bx-stop:focus {
	background-position: -86px -33px;
  }
  /* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
  }
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
  }
  /* IMAGE CAPTIONS */
  .bx-wrapper .bx-caption {
	bottom: 0;
	left: 0;
	background: #666;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
  }
  .bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
  }

.styerror {
    color: #ff0000;
    font-family: arial;
    font-size: 10pt;
    font-style: italic;
}
