<div class = "container-login">
    <form method="POST" name = "logInForm" id = "logInForm" class = "separe-menu">
        <div id = "top-form">
            <h2>Log In</h2>
        </div>
        <div class = "input">
            <h6 id = "input-username">Username</h6>
            <input type = "text" name = "username" id = "username" placeholder="Username" autocomplete="off"/>
        </div>
        <div class = "input">
            <h6 id = "input-password">Password</h6>
            <input type = "password" name = "password" id = "password" placeholder = "Password" autcomplete="off"/>
        </div>
        <div class = "input">
            <input type="submit" value = "Enter" id = "login-btn"/>
        </div>
        <div class = "question">
            <p>You aren't registered? <a href="#" id = "register-btn">Click Here!</a></p>
        </div>
    </form>
</div>