<header>
	<div class="container">
		<div class="row">
			<div class="col-6 col-sm-3 logo-column">
				<a href="index.php?page=home&op=list" id = "home" class="logo menu-btn">Homepage</a>
			</div>
			<div class="col-6 col-sm-9 nav-column clearfix">
				<nav id="menu" class="d-none d-lg-block">
					<ul>
						<li><a href= "index.php?page=shop&op=list" class = "menu-btn" id  = "shop" data-tr = "Shop"></a></li>
						<li><a href="index.php?page=our-cars&op=list" class = "menu-btn" id = "ourCars" data-tr="Our Cars"></a></li>
						<li><a href="index.php?page=services" class = "menu-btn" id = "services" data-tr="Services"></a></li>
						<li><a href="index.php?page=contact&op=list" class = "menu-btn" id = "contact" data-tr="Contact Us"></a></li>
						<li><a href = "index.php?page=log-in&op=list" class = "menu-btn" id = "logIn">Log In</a></li>
						<li><a class = 'menu-btn' id = 'more-options'>More Options</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<div id = "options-sideNav">
	<nav id="menu">
		<ul style = 'text-align: left'>
			<li><a id = "close-options-sideNav">Close</a></li>
			<li class = "item-sideNav" style = "display: block"><a href="index.php?page=user-order&op=list" class = "menu-btn item-sideNav" id = "userOrder">User Order</a></li>
			<li class="has-child item-sideNav" style = "display: block">
				<a href="#" data-tr="Languages"></a>
				<ul class="sub-menu">
					<li><a id = "btn-en" data-tr ="English"></a></li>
					<li><a id = "btn-es" data-tr = "Spanish"></a></li>
					<li><a id = "btn-val" data-tr = "Valencian"></a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
<div class = "container-search spt">
	<form id = "formSearch" class = "container-form">
		<div class = "input">
			<select id ="drop-province">
				<option value = "0">Provinces</option>
			</select>
		</div>
		<div class = "input">
			<select id = "drop-con">
				<option value = "0">Concessionaires</option>
			</select>
		</div>
		<div class = "input">
			<input type = "text" id="autocom" autocomplete="off"/>
			<div id = "searchAuto"></div>
		</div>
		<div class = "input">
			<input type = "button" value = "Search" id = "search-btn"/>
		</div>
	</form>
</div>