<div class="container">
	<div class="row">
		<div class="col-6 col-sm-3 logo-column">
			<a href="index.php?page=home&op=list" id = "home" class="logo menu-btn">Homepage</a>
		</div>
		<div class="col-6 col-sm-9 nav-column clearfix">
			<nav id="menu" class="d-none d-lg-block">
				<ul>
					<li><a href= "index.php?page=shop&op=list" class = "menu-btn" id  = "shop" data-tr = "Shop"></a></li>
					<li><a href="index.php?page=our-cars&op=list" class = "menu-btn" id = "ourCars" data-tr="Our Cars"></a></li>
					<li><a href="index.php?page=services" class = "menu-btn" id = "services" data-tr="Services"></a></li>
					<li><a href="index.php?page=contact&op=list" class = "menu-btn" id = "contact" data-tr="Contact Us"></a></li>
					<li><a href="index.php?page=user-order&op=list" class = "menu-btn" id = "userOrder">User Order</a></li>
					<li><a href = "index.php?page=log-in&op=list" class = "menu-btn" id = "logIn">Log In</a></li>
					<li class="has-child">
						<a href="#" data-tr="Languages"></a>
						<ul class="sub-menu">
							<li><a id = "btn-en" data-tr ="English"></a></li>
							<li><a id = "btn-es" data-tr = "Spanish"></a></li>
							<li><a id = "btn-val" data-tr = "Valencian"></a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<div class = "container-search">
	<form id = "formSearch"></form>
	<div>
		<select id ="drop-province">
			<option value = "0">Select a Province</option>
		</select>
	</div>
	<div>
		<select id = "drop-con">
			<option value = "0">Select the Concessionaire</option>
		</select>
	</div>
	<div>
		<div></div>
		<input type = "text" id="autocom"/>
	</div>
	<div>
		<input type = "button" value = "Search"/>
	</div>
</div>