<div class = "page-title sp separe-menu">
	<div class = "container text-center">
		<h2 data-tr="Shop"></h2>
	</div>
</div>
<div id = "main-shop">
	<div class = "filter-content"></div>
	<div class = "container-filter" style = "margin-top: 20px;"></div>
	<div class = "container-shop row" style = "margin-top: 5px;"></div>
</div>
<div id = "container-pagination" style = "display: flex; align-items: center; justify-content: center">
	<div id = "pagination-shop"></div>
</div>
<section id = "modalGMaps"></section>